%h1 Portfolio items
= link_to "Create new portfolio ", new_portfolio_path
- @portfolio_items.each do |portfolio_item|
  %h2
    = link_to portfolio_item.title, portfolio_path(portfolio_item)
    %span= link_to "Edit", edit_portfolio_path(portfolio_item)
    %span= link_to "Delete", portfolio_path(portfolio_item), method: :delete
  %h3= portfolio_item.subtitle
  %p= portfolio_item.body
  %img{src: portfolio_item.main_image}
  %img{src: portfolio_item.thumb_image}
  - if portfolio_item.created_at != portfolio_item.updated_at
    %p
      Last updated
      %i= portfolio_item.updated_at
  %p
    Post created
    %i= portfolio_item.created_at
